name: Tests and SonarQube Analysis
on:
  push:
    branches:
      - main
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 

      - name: Debug file structure
        run: |
          echo "--- Listing all files in src ---"
          find src -maxdepth 5 -not -path '*/.*'
          echo "--- Current Working Directory ---"
          pwd

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

          args: >
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
